{% extends 'base.html' %}

{% block title %}
    學生健康管理系統
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
        <div class="col-md-5 p-lg-3 mx-auto my-5">
            <h1 class="display-5 font-weight-normal">學生健康管理系統</h1>
            <p></p>
            <p class="lead font-size:16px; font-weight-normal">點擊下方按鍵以開始使用</p>
            <a class="btn btn-primary" href="{{ url_for('market_page') }}">開始</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}