{% extends "base.html" %}

{% block title  %}
體脂計 測量
{%  endblock %}

{% block content%}

<p></p>
<h2 style="text-align: center">體脂計 測量</h2>
<h6 style="text-align: center">(僅作為個人記錄用)</h6>

<div class="row" style="margin-top:20px; margin-left:20px; margin-right:20px;">
       <div class="container">
           <h5>請輸入...(如沒有相關數據請填寫0)</h5>
           <p></p>

           <form method="POST" class="form-edit" style="color:white">
               {{ form.hidden_tag() }}

               {{ form.inspection_date.label() }}
               {{ form.inspection_date(type="Date", class="form-control") }}
               <br>
               {{ form.weight.label() }}
               {{ form.weight(class="form-control", placeholder="範例: 65.2") }}
               <br>
               {{ form.fat_weight.label() }}
               {{ form.fat_weight(class="form-control", placeholder="範例: 17.5") }}
               <br>
               {{ form.fat_percent.label() }}
               {{ form.fat_percent(class="form-control", placeholder="範例: 25.8") }}
               <br>
               {{ form.muscle_weight.label() }}
               {{ form.muscle_weight(class="form-control", placeholder="範例: 26.4") }}
               <br>
               {{ form.body_water_weight.label() }}
               {{ form.body_water_weight(class="form-control", placeholder="範例: 35.3") }}
               <br>
               {{ form.score.label() }}
               {{ form.score(class="form-control", placeholder="範例: 73") }}
               <br>
               {{ form.submit(class="btn btn-lg btn-block btn-success") }}
               <p></p>
           </form>
       </div>
</div>

<div class="row" style="margin-top:20px; margin-left:20px; margin-right:20px;">

    <table class="table table-hover table-dark">
          <thead>
          </thead>
          <tbody>
             <!-- Your rows inside the table HERE: -->
             {% for item in user %}
             <tr>
                <td style="text-align: center">
                    {{loop.index}}
                </td>
             </tr>
             <tr>
                <td>測量日: {{item.inspection_date.strftime('%Y-%m-%d')}}</td>
             </tr>
             <tr>
                <td>體重(Kg): {{item.weight}}</td>
             </tr>
             <tr>
                <td>體脂肪重(Kg): {{item.fat_weight}}</td>
             </tr>
             <tr>
                <td>體脂肪率(%): {{item.fat_percent}}</td>
             </tr>
             <tr>
                <td>骨骼肌重(Kg): {{item.muscle_weight}}</td>
             </tr>
             <tr>
                <td>身體總水重(L): {{item.body_water_weight}}</td>
             </tr>
             <tr>
                <td>Inbody分數: {{item.score}}</td>
             </tr>
             <tr>
                <td></td>
             </tr>
             {% endfor %}
          </tbody>
    </table>

</div>

{%  endblock %}