{% extends "base.html" %}

{% block title  %}
Inbody 測量
{%  endblock %}

{% block content%}
<div class="row" style="margin-top:20px; margin-left:20px; margin-right:20px">
    <h2>Inbody 測量 </h2>
    <br>
    <table class="table table-hover table-dark">
          <thead>
          </thead>
          <tbody>
             <!-- Your rows inside the table HERE: -->
             {% for item in user %}
             <tr>
                <td>量測日: {{item.inspection_date}}</td>
             </tr>

             <tr>
                <td>體重: {{item.weight}}</td>
             </tr>

             <tr>
                <td>體脂: {{item.fat}}</td>
             </tr>

             <tr>
                <td>肌肉量: {{item.muscle}}</td>
             </tr>

             <tr>
                <td>Inbody分數: {{item.score}}</td>
             </tr>
             {% endfor %}
          </tbody>
    </table>
</div>

<div class="row" style="margin-top:20px; margin-left:20px; margin-right:20px">
       <div class="container">
           <h4>請輸入該次測量的...</h4>
           <form method="POST" class="form-edit" style="color:white">
               {{ form.hidden_tag() }}

               {{ form.inspection_date.label() }}
               {{ form.inspection_date(type="Date", class="form-control") }}
               <br>
               {{ form.weight.label() }}
               {{ form.weight(class="form-control", placeholder="範例: 55") }}
               <br>
               {{ form.fat.label() }}
               {{ form.fat(class="form-control", placeholder="範例: 15") }}
               <br>
               {{ form.muscle.label() }}
               {{ form.muscle(class="form-control", placeholder="範例: 20") }}
               <br>
               {{ form.score.label() }}
               {{ form.score(class="form-control", placeholder="範例: 79") }}
               <br>
               {{ form.submit(class="btn btn-lg btn-block btn-success") }}
           </form>
       </div>
</div>
{%  endblock %}