{% extends 'base.html' %}

{% block title  %}
    註冊頁面
{%  endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:#ffffff">
            {{ form.hidden_tag() }}
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                填寫註冊資料
            </h1>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="格式範例: s095502650101") }}

            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="請輸入你的名字") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="請設定N-N位的密碼") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="請再輸入一次密碼") }}

            <br>

            <div class="checkbox mb-3">
               <h6>已擁有帳號?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">登入</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
{% endblock %}